/* Style sheet for Index.html (Current Music)*/

body {
    color:#ffffff;
    background-color : #000000;
    font-family : arial, verdana, sans-serif;
  }

div {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#artistName {
    font-size: 40px;    
    text-align: center;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    border-style : solid;
    border-color : #ffffff;
    border-width : 3px;
    padding : 5px;
  }

#albumCover {
    border-style : solid;
    border-color : #ffffff;
    border-width : 3px;
}

#ArtistField{
  background-color: rgb(60, 60, 60)
}

.artistImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style : solid;
  border-color : #ffffff;
  border-width : 3px;
}

#Spotify {
  background-color: rgb(69, 174, 63)
}

#travis {
  background-color: rgb(164, 89, 255)
}

#uzi {
  background-color: rgb(70, 221, 255)
}

#drake {
  background-color: rgb(255, 0, 0)
}

#thugger {
  background-color: rgb(0, 255, 8)
}

